body {
	text-align: center;
}
#face {
	border: 10px solid #33CCFF;
	border-radius: 200px;
	margin: 100px 0px 0px 0px;
}
#beach {
	height: 400px;
	width: 400px;
	position: relative;
	float: right;
	top: 20px;
	left: -100px;
}
#maine {
	height: 400px;
	width: 400px;
	position: relative;
	float: left;
	top: 900px;
	left: 45px;
}
#caption1 {
	background-color: black;
	color: white;
	font-size: 50px;
	position: absolute;
	float: right;
	top: 370px;
	right: 200px;
	z-index: 1;
}
#caption2 {
	background-color: black;
	color: white;
	font-size: 50px;
	position: absolute;
	float: left;
	top: 1250px;
	left: 155px;
	z-index: 1;
}
h1 {
	font-size: 60px;
	text-decoration: underline;
}
p {
	font-size: 30px;
}
a {
	text-decoration: none;
	color: black;
}
#contact {
	background-color: #ADEBFF;
	height:250px;
	width: 500px;
	margin: 0 auto;
}
#footer {
	font-size: 30px;
}
#footer img {
	border-radius: 300px;
}
li {
	display:inline;
}

